%p#notice= notice

%p
  %b User:
  = @topic.user.email
%p
  %b Title:
  = @topic.title
%p
  %b Body:
  = @topic.body

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path

= render 'posts'
