= form_for @gaap, remote: true do |f|
  - if @gaap.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gaap.errors.count, "error")} prohibited this gaap from being saved:"
      %ul
        - @gaap.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'

  .foo
