%h1 Listing gaaps

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @gaaps.each do |gaap|
      %tr
        %td= gaap.name
        %td= link_to 'Show', gaap
        %td= link_to 'Edit', edit_gaap_path(gaap)
        %td= link_to 'Destroy', gaap, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gaap', new_gaap_path
