= form_for @period do |f|
  - if @period.errors.any?
    #error_explanation.alert.alert-danger
      = "#{pluralize(@period.errors.count, "error")} prohibited this period from being saved:"
      %ul
        - @period.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :ending, class: 'col-xs-5 col-left form-control-label'
    .col-xs-7.col-right
      = f.date_select :ending, class: 'form-control', :autofocus => true
      
  - if @new_record
    = hidden_field_tag(:new_record, true)

  .form-group.row
    .col-xs-5.col-left
    .col-xs-7.col-right
      = f.submit 'Save', class: "btn btn-#{@color}"
      = link_to 'Cancel', periods_path, class: 'btn btn-secondary'
