- @title = 'Editing records'

.form-container
  .heading-container
    %h1 Editing record

  = form_for @record do |f|
    - if @record.errors.any?
      #error_explanation
        %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
        %ul
          - @record.errors.full_messages.each do |msg|
            %li= msg

    .form-group.row
      = f.label :company, class: 'col-xs-5 col-left form-control-label'
      .col-xs-7.col-right
        = f.select :company_id, options_from_collection_for_select(@companies, :id, :name, @company), {}, {class: "form-control c-select", disabled: 'true'}

    - @indicators.each do |indicator|
      .form-group.row
        = f.label :indicator_name, indicator.name, class: 'col-xs-5 col-left form-control-label'
        = f.fields_for :values do |values_form|
          - if indicator.id == values_form.object.indicator_id
            = values_form.hidden_field :indicator_id, :value => indicator.id
            .col-xs-7.col-right
              = values_form.text_field :amount, class: 'form-control', type: 'number', step: 'any'

    .form-group.row
      .col-xs-5.col-left
      .col-xs-7.col-right
        = f.submit 'Save', class: 'btn btn-success'
        = link_to 'Cancel', root_path, class: 'btn btn-secondary'