- @title = 'New record'

.form-container
  .heading-container
    %h1 New record

  = form_for @record do |f|
    - if @record.errors.any?
      #error_explanation
        %h2= "#{pluralize(@record.errors.count, "error")} prohibited this record from being saved:"
        %ul
          - @record.errors.full_messages.each do |msg|
            %li= msg

    .form-group.row
      = f.label :period, 'Period ending', class: 'col-xs-5 col-left form-control-label'
      .col-xs-7.col-right
        = f.select :period_id, options_from_collection_for_select(@periods, :id, :ending, @period_id), {}, {class: "form-control c-select select-period-gaap"}

    .form-group.row
      = f.label :gaap, 'Accounting standard', class: 'col-xs-5 col-left form-control-label'
      .col-xs-7.col-right
        = f.select :gaap_id, options_from_collection_for_select(@gaaps, :id, :name, @gaap_id), {}, {class: "form-control c-select select-period-gaap"}

    .form-group.row
      = f.label :company, class: 'col-xs-5 col-left form-control-label'
      .col-xs-7.col-right
        = f.select :company_id, options_from_collection_for_select(@companies, :id, :name, @company), {}, {class: "form-control c-select select-company"}
        - unless @company
          = link_to 'New company', new_company_path(new_record: true), class: 'btn btn-link btn-sm'

    - @indicators.each do |indicator|
      .form-group.row
        = f.label indicator.name, class: 'col-xs-5 col-left form-control-label'
        = f.fields_for :values do |values_form|
          = values_form.hidden_field :indicator_id, :value => indicator.id
          .col-xs-7.col-right
            = values_form.text_field :amount, class: 'form-control', type: 'number'

    .form-group.row
      .col-xs-5.col-left
      .col-xs-7.col-right
        = f.submit 'Save', class: 'btn btn-primary'
        = link_to 'Cancel', root_path(period: @period_id, gaap: @gaap_id), class: 'btn btn-secondary'
