= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation.alert.alert-danger
      = "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :name, class: 'col-xs-4 form-control-label'
    .col-xs-8.col-sm-4
      = f.text_field :name, class: 'form-control', :autofocus => true
      
  .form-group.row
    = f.label :industry, class: 'col-xs-4 form-control-label'
    .col-xs-8.col-sm-4
      = f.select :industry_id, options_from_collection_for_select(Industry.all, :id, :name, params[:industry]), {}, {class: "form-control c-select", disabled: @disabled}

  - if params[:new_record]
    = hidden_field_tag(:new_record, true)
    = hidden_field_tag(:period, params[:period])
    = hidden_field_tag(:gaap, params[:gaap])

  .form-group.row
    .col-xs-4
    .col-xs-8
      = f.submit 'Save', class: "btn btn-#{@color}"
      - if params[:new_record]
        = link_to 'Cancel', new_record_path(period: params[:period], gaap: params[:gaap]), class: 'btn btn-secondary'
      - else
        = link_to 'Cancel', companies_path, class: 'btn btn-secondary'
