- @title = 'Companies'

.row
  .col-xs-12

    %h1= @title

    = form_tag companies_path, method: 'get', class: 'selector' do
      %ul.list-inline
        %li.list-inline-item= select_tag :industry, options_from_collection_for_select(@industries, :id, :name, @industry_id), onchange: 'this.form.submit()', class: 'form-control'
      = submit_tag 'submit'
      = javascript_tag "$('.selector input').hide()"

    .table-responsive
      %table.table.table-inverse.dark-background
        %tbody
          - @companies.each do |company|
            %tr
              %td= company.name
              %td.text-xs-right.text-nowrap
                - if not current_user.nil? and current_user.reputation >= company.user.reputation
                  = link_to 'Edit', edit_company_path(company), :class => 'btn btn-success btn-sm'
                - if not current_user.nil? and current_user.admin?
                  = link_to 'Delete', company, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

    = link_to 'New company', new_company_path, class: 'btn btn-primary'
