- @title = 'Home'

.row
  .col-xs-12

    %h1 Listing records

    = form_tag root_path, method: 'get', class: 'selector' do
      %ul.list-inline
        %li.list-inline-item= select_tag :period, options_from_collection_for_select(@periods, :id, :ending, @period.id), onchange: 'this.form.submit()', class: 'form-control'
        %li.list-inline-item= select_tag :gaap, options_from_collection_for_select(@gaaps, :id, :name, @gaap.id), onchange: 'this.form.submit()', class: 'form-control'
      = submit_tag 'submit'
      = javascript_tag "$('.selector input').hide()"


    .table-responsive
      %table.table.table-inverse.dark-background
        %thead
          %tr
            %th In billions of RUB
            - @indicators.each do |indicator|
              %th.text-xs-right= indicator.name
            %th
        %tbody
          - @records.each do |record|
            %tr
              %td= record.company_name
              - @indicators.each do |indicator|
                %td.text-xs-right= number_with_delimiter(@values.amount(record.id, indicator.id), delimiter: ',')
              %td.text-xs-right.text-nowrap
                = link_to 'Edit', edit_record_path(record), :class => 'btn btn-success btn-sm'
                = link_to 'Delete', record, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

    = link_to 'New record', new_record_path(period: @period.id, gaap: @gaap.id), class: 'btn btn-primary'