.row
	.col-xs-12

		%h1 Simple table

		.table-responsive
			%table.table.table-inverse
				%thead
					%tr
						%th
						- @indicators.each do |indicator|
							%th.text-xs-right= indicator.name
				%tbody
					- @records.each do |record|
						%tr
							%td= record.company_name
							- @indicators.each do |indicator|
								%td.text-xs-right= number_with_delimiter(@values.amount(record.id, indicator.id), delimiter: ',')
							%td.text-xs-right
								= link_to 'Edit', edit_record_path(record), :class => 'btn btn-success btn-sm'
								= link_to 'Delete', record, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

		= link_to 'Add', new_record_path, class: 'btn btn-primary'