- @title = 'Home'

.row
  .col-xs-12

    %h1 Listing records

    = form_tag root_path, method: 'get', class: 'selector' do
      %ul.list-inline
        %li.list-inline-item= select_tag :industry, options_from_collection_for_select(@industries, :id, :name, @industry.id), onchange: 'this.form.submit()', class: 'form-control'
        %li.list-inline-item= select_tag :period, options_from_collection_for_select(@periods, :id, :ending, @period.id), onchange: 'this.form.submit()', class: 'form-control'
        %li.list-inline-item= select_tag :gaap, options_from_collection_for_select(@gaaps, :id, :name, @gaap.id), onchange: 'this.form.submit()', class: 'form-control'
        %li.list-inline-item= select_tag :currency, options_from_collection_for_select(@currencies, :id, :code, @currency.id), onchange: 'this.form.submit()', class: 'form-control'
      = submit_tag 'submit'
      = javascript_tag "$('.selector input').hide()"


    .table-responsive
      %table.table.table-inverse.dark-background
        %thead.table-head.small
          %tr
            %th
            - @indicators.each do |indicator|
              %th.text-xs-right
                - if indicator.type.name == 'currency'
                  = indicator.name
                - else
                  = "#{indicator.name}, #{indicator.base_unit}"
            %th User
            %th
        %tbody
          - @records.each do |record|
            %tr
              %td= record.company_name
              - @indicators.each do |indicator|
                %td.text-xs-right
                  = number_with_precision(@values.amount(record.id, indicator.id, @currency.id), precision: 1, delimiter: ',')
              %td= record.user.name
              %td.text-xs-right.text-nowrap
                - if not current_user.nil? and current_user.reputation >= record.user.reputation
                  = link_to 'Edit', edit_record_path(record), :class => 'btn btn-success btn-sm'
                - if not current_user.nil? and current_user.admin?
                  = link_to 'Delete', record_path(record.id, :period => @period.id, :gaap => @gaap.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

    = link_to 'New record', new_record_path(industry: @industry.id, period: @period.id, gaap: @gaap.id), class: 'btn btn-primary'
