= form_for @indicator do |f|
  - if @indicator.errors.any?
    #error_explanation.alert.alert-danger
      = "#{pluralize(@indicator.errors.count, "error")} prohibited this indicator from being saved:"
      %ul
        - @indicator.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :name, class: 'col-xs-5 col-left form-control-label'
    .col-xs-7.col-right
      = f.text_field :name, class: 'form-control', :autofocus => true
  
  .form-group.row
    .col-xs-5.col-left
    .col-xs-7.col-right
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', indicators_path, class: 'btn btn-secondary'
