- @title = "Sorting indicators"

.row
  .col-xs-12

    %h1 Sorting indicators

    = form_for :indicator, :url => update_all_path(industry: session[:industry]), :html => { :method => :put } do

      .table-responsive
        %table.table.table-inverse.dark-background.foo
          %tbody.sortable
            - @indicators.each do |indicator|
              = fields_for "indicator[]", indicator do |indicator_fields|
                %tr
                  %td
                    = indicator.name
                    = indicator_fields.hidden_field :order, class: :order
      = submit_tag :Save, class: "btn btn-primary reorder"
      = link_to 'Cancel', indicators_path, class: 'btn btn-secondary'
