- @title = 'Indicators'

.row
  .col-xs-12

    %h1= @title

    = form_tag indicators_path, method: 'get', class: 'selector' do
      %ul.list-inline
        %li.list-inline-item= select_tag :industry, options_from_collection_for_select(Industry.all, :id, :name, @industry_id), onchange: 'this.form.submit()', class: 'form-control'
      = submit_tag 'submit'
      = javascript_tag "$('.selector input').hide()"

    .table-responsive
      %table.table.table-inverse.dark-background
        %thead
          %tr
            %th Name
            %th Type
            %th
        %tbody
          - @indicators.each do |indicator|
            %tr
              %td
                = indicator.name
              %td
                = indicator.type.name
              %td.text-xs-right.text-nowrap
                = link_to 'Edit', edit_indicator_path(indicator), :class => 'btn btn-success btn-sm'
                = link_to 'Delete', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

      .form-group
        = link_to 'New indicator', new_indicator_path(industry: @industry_id), class: 'btn btn-primary'
        = link_to 'Reorder indicators', reorder_indicators_path, class: 'btn btn-success'
