- @title = 'Indicators'

.row
  .col-xs-12

    %h1 Listing indicators

    .table-responsive
      %table.table.table-inverse.dark-background
        %thead
          %tr
            %th Name
            %th Type
            %th
        %tbody
          - @indicators.each do |indicator|
            %tr
              %td
                = indicator.name
              %td
                = indicator.type.name
              %td.text-xs-right.text-nowrap
                = link_to 'Edit', edit_indicator_path(indicator), :class => 'btn btn-success btn-sm'
                = link_to 'Delete', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

      .form-group
        = link_to 'New indicator', new_indicator_path, class: 'btn btn-primary'
        = link_to 'Reorder indicators', reorder_indicators_path, class: 'btn btn-success'
