- @title = 'Indicators'

.row
  .col-xs-12

    %h1 Listing indicators

    .alert.alert-warning You can reorder indicators using the mouse.

    = form_for :indicator, :url => ordering_indicators_path, :html => { :method => :put } do

      .table-responsive
        %table.table.table-inverse.dark-background
          %thead
            %tr
              %th Name
              %th
          %tbody.sortable
            - @indicators.each do |indicator|
              = fields_for "indicator[]", indicator do |indicator_fields|
                %tr
                  %td
                    = indicator.name
                    = indicator_fields.hidden_field :order, class: :order
                  %td.text-xs-right.text-nowrap
                    = link_to 'Edit', edit_indicator_path(indicator), :class => 'btn btn-success btn-sm'
                    = link_to 'Delete', indicator, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

      = link_to 'New indicator', new_indicator_path, class: 'btn btn-primary'
      = submit_tag 'Save ordering', class: "btn btn-warning reorder save-ordering"
      = link_to 'Cancel', indicators_path, class: 'btn btn-secondary save-ordering'
