= form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} prohibited this report from being saved:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :company, class: 'col-xs-5 col-sm-4 col-md-3 col-lg-3 col-xl-2 form-control-label'
    .col-xs-7.col-sm-5.col-md-4.col-lg-3.col-xl-2
      = f.select :company_id, options_from_collection_for_select(@companies, :id, :name), {}, {class: "form-control c-select"}

  - @indicators.each do |indicator|
    .form-group.row
      = f.label indicator.name, class: 'col-xs-5 col-xl-2 form-control-label'
      = f.fields_for :values do |values_form|
        = values_form.hidden_field :indicator_id, :value => indicator.id
        .col-xs-7.col-xl-2
          = values_form.text_field :amount, class: 'form-control', type: 'number'

  .form-group.row
    .col-xs-offset-5.col-xl-offset-2.col-xs-7.col-xl-10
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', root_path, class: 'btn btn-secondary'