!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %title= @title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %nav.navbar.navbar-light.navbar-full.bg-faded
      .container
        .nav.navbar-nav
          = link_to 'Home', root_path(industry: params[:industry]), class: "nav-item nav-link #{@site_active}"
          = link_to 'Companies', companies_path(industry: params[:industry]), class: "nav-item nav-link #{@companies_active}"
          - if user_signed_in? && current_user.admin?
            = link_to 'Indicators', indicators_path(industry: params[:industry]), class: "nav-item nav-link #{@indicators_active}"
          = link_to 'Forum', topics_path, class: "nav-item nav-link #{@topics_active} #{@posts_active}"
          - if user_signed_in?
            .pull-xs-right
              = link_to "#{current_user.name} #{current_user.reputation}", edit_user_registration_path, class: "nav-item nav-link"
              = link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-item nav-link"
          - else
            .pull-xs-right
              = link_to 'Log in', new_user_session_path, class: "nav-item nav-link"
              = link_to 'Sign up', new_user_registration_path, class: "nav-item nav-link"

    .container
      - if flash[:alert]
        .alert.alert-danger= flash[:alert]
      - if flash[:points]
        .alert.alert-warning= flash[:points]
      = yield

    %footer.footer
      .container
        %small.text-muted &copy; Artem Kulakov, 2016
