!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %title= @title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %nav.navbar.navbar-light.navbar-full.bg-faded
      .nav.navbar-nav
        = link_to 'Home', root_path, class: "nav-item nav-link #{@site_active}"
        = link_to 'Companies', companies_path, class: "nav-item nav-link #{@companies_active}"
        = link_to 'Indicators', indicators_path, class: "nav-item nav-link #{@indicators_active}"

    .container
      - if notice
        .notice.alert.alert-success= notice
      = yield
